<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2011-02-21 04:15:42 igsong Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.kaist.ac.kr/idl/1.0"
            class="kr.ac.kaist.se.interaction.idl.IdlPackage"
            genModel="model/idl.genmodel"/>
   </extension>

</plugin>
